<div>
    <h1>Hola {{user.name}}, bienvenido a tu primera plantilla en HandleBars</h1>
    <h2>Tu Rol es: {{user.rol}}</h2>
    <br>
    {{#if isAdmin}}
        {{#each food}}
            <div>
                <p>{{this.name}}</p>
                <p>{{this.price}}</p>
            </div>
        {{/each}}
    {{else}}
        <p>No tiene permisos</p>
    {{/if}}
</div>
<script src="js/index.js"></script>